<!doctype html>
<html>

<head>
    <title>LGO bonus calculator</title>
</head>

<body>
    <div id="header" class="ui primary inverted attached basic segment">
        <div class="ui container">
            <h1 class="ui huge inverted header"><i class="coins icon"></i>LGO bonus calculator</h1>
            <div class="ui grid">
                <div id="wp" class="ten wide column">
                    <p>The data displayed by this tool are extracted from the Ethereum blockchain and
                        stored in a json file. That mean the data can be not up to date and need to be updated
                        regularly.</p>
                    <p>As of today, the data are extracted until the block
                        <span id="latest-block-number" class="ui emphasised text"></span> that was mined on
                        <span class="latest-block-timestamp ui emphasised text"></span>. At that time, the total unspent
                        amount was
                        <span id="unspent-amount" class="ui emphasised text"></span> and
                        <span id="holders-who-lost-bonus" class="ui emphasised text"></span> holders lost theirs bonus.
                    </p>
                    <p>The current ROI and the bonus amounts are computed from the circulating supply
                        (<span id="circulating-supply" class="ui emphasised text"></span>) and the latest known total
                        unspent amount (see above).</p>
                </div>
                <div class="six wide middle aligned center aligned column">
                    <div id="roi" class="ui inverted huge statistic">
                        <div class="label">Current ROI</div>
                        <div class="value">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui inverted dark attached basic segment">
        <div class="ui container">
            <form class="ui inverted form">
                <div class="field">
                    <label for="address">Ethereum address</label>
                    <div class="ui action input">
                        <input type="text" class="form-control" id="address" aria-describedby="addressHelp">
                        <button id="send" type="button" class="ui primary button">Go!</button>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Please enter the ETH address you used for the LGO
                        ICO</small>
                </div>
            </form>
        </div>
    </div>
    <div id="results-pane" class="ui basic segment">
        <div class="ui container">
            <div id="error" class="ui error message">
                <i class="exclamation icon"></i>
                The provided address is not recognized as a ICO holder address.
            </div>
            <div id="results">
                <h3 class="ui header">Results</h3>
                <div class="ui info message">
                    <i class="info icon"></i>
                    The data displayed below correspond to the state of the Ethereum blockchain was on <strong
                        class="latest-block-timestamp ui emphasised text"></strong>
                </div>
                <table class="ui very basic table">
                    <thead>
                        <tr>
                            <th class="one wide">Bonus</th>
                            <th class="right aligned">August 15, 2018</th>
                            <th class="right aligned">February 15, 2019</th>
                            <th class="right aligned">August 15, 2019</th>
                            <th class="right aligned">February 15, 2020</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Status</strong></td>
                            <td class="right aligned">
                                <div class="ui horizontal label">
                                    <i class="icon"></i>
                                    <span class="text"></span>
                                </div>
                            </td>
                            <td class="right aligned">
                                <div class="ui horizontal label">
                                    <i class="icon"></i>
                                    <span class="text"></span>
                                </div>
                            </td>
                            <td class="right aligned">
                                <div class="ui horizontal label">
                                    <i class="icon"></i>
                                    <span class="text"></span>
                                </div>
                            </td>
                            <td class="right aligned">
                                <div class="ui horizontal label">
                                    <i class="icon"></i>
                                    <span class="text"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Amount</strong></td>
                            <td class="right aligned"></td>
                            <td class="right aligned"></td>
                            <td class="right aligned"></td>
                            <td class="right aligned"></td>
                        </tr>
                        <tr>
                            <td><strong>ROI</strong></td>
                            <td class="right aligned"></td>
                            <td class="right aligned"></td>
                            <td class="right aligned"></td>
                            <td class="right aligned"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a id="fork" href="https://github.com/acatinon/lgo-bonus-calculator" target="_blank">
        <img width="149" height="149"
            src="https://github.blog/wp-content/uploads/2008/12/forkme_right_gray_6d6d6d.png?resize=149%2C149"
            class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1">
    </a>
</body>

</html>